*.log
downloads/*.pdf
test_code.py
__pycache__
.venv
.vscode
selenium
downloads/*
graph/*

results/*
data/multimodal_mind2web/data
evaluation/results
train/data
train/val

!results/demo/
!results/demo/**